/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 31. ONEPAGE V5 */
/*-------------------------------------------------------------------------------------------------------------------------------*/


@font-face {
    font-family: 'DINOT-Black';
    src: url('../font/dinot/DINOT-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'DINOT-Bold';
    src: url('../font/dinot/DINOT-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'DINOT-CondBlack';
    src: url('../font/dinot/DINOT-CondBlack.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'DINOT-Light';
    src: url('../font/dinot/DINOT-Light.otf') format('opentype');                      
    font-weight: 300;
    font-style: normal;
}

$var_container_bg: #4e4040;
$var_container_bg2: #191e3f;
$var_box_bg: #403030;
$var_box_bg2: #0b0e24; 
$box_shadow: 0px 102px 150px rgba(2,2,2,0.75);
$col-white: #fff;

.bg-sq1 {background: #fff;}
.bg-sq2 {background: #46ff38;}
.bg-sq3 {background: #5c46ff;}
.bg-sq4 {background: #a63030;}
.bg-sq5 {background: none; box-shadow: $box_shadow;}

.font-black {font-family: 'DINOT-Black'; font-weight: 900;}
.font-bold {font-family: 'DINOT-Bold'; font-weight: 700;}
.font-cond {font-family: 'DINOT-CondBlack'; font-weight: 700;}
.font-light {font-family: 'DINOT-Light'; font-weight: 300;}

.box-grad {background-image: -webkit-linear-gradient(45deg, rgba(2,2,2,0.12) 0, rgba(255,255,255,0.12) 100%);
background-image: -moz-linear-gradient(45deg, rgba(2,2,2,0.12) 0, rgba(255,255,255,0.12) 100%);
background-image: linear-gradient(45deg, rgba(2,2,2,0.12) 0, rgba(255,255,255,0.12) 100%);
background-position: 50% 50%;
-webkit-background-origin: padding-box;
background-origin: padding-box;
-webkit-background-clip: border-box;
background-clip: border-box;
-webkit-background-size: auto auto;
background-size: auto auto;}
.box-grad2 {background-image: -webkit-linear-gradient(-45deg, #f65236 0, #ca1933 100%);
background-image: -moz-linear-gradient(135deg, #f65236 0, #ca1933 100%);
background-image: linear-gradient(135deg, #f65236 0, #ca1933 100%);
background-position: 50% 50%;
-webkit-background-origin: padding-box;
background-origin: padding-box;
-webkit-background-clip: border-box;
background-clip: border-box;
-webkit-background-size: auto auto;
background-size: auto auto;}

.onepage-box {position: relative; 
	&.style-1 {background: $var_container_bg;}
	&.style-1 .box-container {background: $var_box_bg;}
	&.style-1 .header.box-style.bg-scroll {background: #3f2b2b;}
	&.style-1 .box-item .text-block {background-color: $var_box_bg;}
	&.style-1 .box-type-4 .text-block {@extend .box-grad2;}
	&.style-1 .hold-slide-layer {background: #3f2b2b;}
}

.onepage-box {position: relative; 
	&.style-2 {background: $var_container_bg2;}
	&.style-2 .box-container {background: $var_box_bg2;}
	&.style-2 .header.box-style.bg-scroll {background: $var_box_bg2;}
	&.style-2 .box-item .text-block {background-color: $var_box_bg2;}
	&.style-2 .box-type-4 .text-block {@extend .box-grad2;}
	&.style-2 .hold-slide-layer {background: #0b0e24;}
}

.header.box-style {position: fixed; z-index: 105; left: 0px; top: 0px; width: 100%; height: 150px; text-align: center; @include transition (all 0.55s ease-out);
	&.bg-scroll {height: 80px;}
	&.bg-scroll .box-nav {padding: 10px 0px;}
	& .logo {left: 0px; @include transform(translate(0%,-50%));width: auto;}
	& .logo img {max-width: 50px; height: auto;}
	& .add-nav-link {right: 0px; display: block;}
	& .container, & .navigation {height: inherit;}
	& .navigation {position: relative; width: 100%;}
}
.box-nav {position: relative; display: inline-block; padding: 45px 0px; overflow: hidden; 
	& ul {display: block; @include transform(translateX(100%)); @include transition (all 0.55s ease-out);}
	& li {position: relative; display: inline-block; margin: 0 20px;}
	& li a {color: rgba(255,255,255,0.5); font-size: 19px; line-height: 60px; @extend .font-light;}
	& li a:hover, & li a.active {color: $col-white;}
}
.box-nav.slide ul {@include transform(translateX(0%));}
.add-nav-link {width: 60px; height: 60px; z-index: 60; border-radius: 50%; background: rgba(255,255,255,0.1); text-align: center;
	& img {position: absolute; opacity: 0.3; left: 50%; top: 50%; @include transform(translate(-50%,-50%) rotate(0deg)); display: block; @include transition (all 0.35s ease-out);}
	&.act img {@include transform(translate(-50%,-50%) rotate(45deg));}
}

.top-box-slider {position: relative; width: 100%;}
.scroll-down.lg {bottom: auto; top: 15px;}
.main-container {padding-top: 150px; position: relative; width: 100%; overflow: hidden;}
.hold-slide-layer {@extend .pos-absol; @include transition (all 0.35s ease-out);}
.hold-slide .swiper-slide-active .hold-slide-layer {opacity: 0; visibility: hidden;}
.hold-slide.gallery-slide-1 {padding-top: 110px;}
.hold-slide .swiper-slide {max-width: 945px;}

.pagination.style-type-3 {position: absolute; left: 0px; top: 50px; bottom: auto; width: 100%;
	& .swiper-pagination-bullet {width: 12px; height: 12px; background: rgba(255,255,255,0.2); margin: 0px 8px; vertical-align: middle; @include transition (margin 0.35s ease-out);}
	& .swiper-pagination-bullet:before {content: ''; position: absolute; left: -12px; top: -12px; border: 5px solid rgba(255,255,255,0.2); background: none; width: 25px; height: 25px; border-radius: 50%; opacity: 0; @include transition (all 0.35s ease-out); @include transform( scale(0.5));}
	& .swiper-pagination-bullet-active {background: none; margin: 0 13px;}
	& .swiper-pagination-bullet-active:before {opacity: 1; @include transform( scale(1));}
}

.link-more {position: relative; display: block; width: 70px; height: 70px; border-radius: 50%; border: 3px solid rgba(255,255,255,0.3);
	& img {position: absolute; opacity: 0.3; left: 50%; top: 50%; @include transform(translate(-50%,-50%) scale(1)); display: block; @include transition (all 0.35s ease-out);}
	&:hover img {@include transform(translate(-50%,-50%) scale(0.8));}
}
.button-type-2.style-2 { white-space: nowrap; height: 60px; line-height: 60px; padding: 0px 30px; font-size: 15px; letter-spacing: 6px; @extend .font-black; @include transition (all 0.35s ease-out 1s);
	&:hover {box-shadow: none; @include transition (none);}
}
.box-container {position: relative; width: 100%; padding-top: 380px;}

.box-title {font-size: 31px; line-height: 49px; padding-bottom: 10px; @extend .font-bold; letter-spacing: 3.8px; text-transform: uppercase; color: $col-white;
	&.xs {font-size: 32px; line-height: 40px; letter-spacing: 5px; @extend .font-cond; letter-spacing: 15px;}
	&.sm {font-size: 88px; line-height: 137px; letter-spacing: 50px; @extend .font-cond;}
	&.md {font-size: 93px; line-height: 96px; letter-spacing: 42px; @extend .font-cond; padding-bottom: 20px;}
	&.lg {font-size: 134px; line-height: 137px; margin-left: -215px; @extend .font-cond; letter-spacing: 50px; padding-bottom: 25px;}
}
.box-subtitle {font-size: 32px; letter-spacing: 5px; line-height: 40px; text-transform: uppercase; @extend .font-cond; color: $col-white;} 
.box-text {position: relative;
	& p {font-size: 17px; line-height: 32px; @extend .font-light; color: rgba(255,255,255,0.5);}
}
.box-item {position: relative; width: 100%; display: inline-block;
	& .number {position: absolute; font-size: 334px; line-height: 210px; @extend .font-black; text-shadow: $box_shadow; letter-spacing: -18px; color: rgba(255,255,255,0.1);}
	& .box-slider {width: 570px; height: 640px; position: absolute; 
		& .shadow-imit {position: absolute; width: 570px; height: 570px; box-shadow: $box_shadow; left: 0px; bottom: 0px;}
		& .swiper-container {padding-top: 70px;}
		& .pagination.style-type-3 {top: 30px;}
	}
	& .text-block {position: relative; display: inline-block; @extend .box-grad; box-shadow: $box_shadow;}
}
.square-box {position: absolute; width: 395px; height: 395px;
	&.md {width: 175px; height: 175px;}
	&.lg {width: 270px; height: 270px;}
	&.sm {width: 288px; height: 377px;}
}
.box-type-1 {padding-bottom: 185px; margin-bottom: 360px;
	& .number {right: -17%; top: 0px; line-height: 160px;}
	& .image {width: 570px; height: 570px; position: absolute; top: 24%; left: 32%; box-shadow: $box_shadow; z-index: 2;}
    & .text-block {padding: 150px 85px 90px 80px; max-width: 570px; z-index: 5; margin-left: -18%;}
	& .text-block .box-text {padding-bottom: 30px;}
	& .link-more {float: right;}
	& .square-box {left: 12%; bottom: 11%;}
}
.box-type-2 {margin-bottom: 250px;
	& .number {left: -215px; top: 0px; line-height: 270px;}
	& .box-slider {right: -120px; top: 0px; z-index: 5;}
	& .text-block {padding:100px 335px 140px 55px; max-width: 730px; z-index: 3; margin-left: 80px; margin-top: 330px;}
	& .square-box {left: 400px; top: 200px;}
	& .link {position: absolute; bottom: -25px; left: 55px;}
	& .button-type-2.style-2 { 
	    &:after, &:before, & span:after, & span:before {background: #46ff38;}
		&:hover {color: #46ff38;}
	}
}
.box-type-3 { margin-bottom: 260px;
	& .box-slider {left: -80px; z-index: 5; top: 0px;}
	& .text-block {padding: 100px 115px 140px 260px; margin-top: 330px; min-width: 730px; z-index: 3;margin-left: 280px;}
	& .link {position: absolute; left: 260px; bottom: -25px;}
	& .square-box {left: 420px; top: 210px;}
	& .button-type-2.style-2 { 
	    &:after, &:before, & span:after, & span:before {background: #5c46ff;}
		&:hover {color: #5c46ff;}
	}
}
.box-type-4 { padding-top: 195px; margin-bottom: 320px; 
	& .number {right: -85px; top: 0px;}
	& .text-block {min-width: 1170px; padding: 0px 20px 0px 120px; margin-left: -115px;}
	& .text-block .box-text {max-width: 340px; float: left;}
	& .box-title {margin-top: -38px;}
	& .sm-box-wrap {position: relative; display: inline-block; width: 62%; float: right; margin-bottom: -25px; padding-top: 30px;}
	& .sm-box-text {position: relative; width: 100%; display: inline-block; margin-right: 70px; box-shadow: $box_shadow; padding: 60px 30px 50px 30px; min-height: 255px;}
	& .column-50 {float: left; padding-right: 70px;}
	& .sm-box-text h5 {font-size: 17px; line-height: 29px; text-transform: uppercase; color: $col-white; letter-spacing: 5.8px; @extend .font-bold;}
	& .column-50:nth-child(1), & .column-50:nth-child(2) {margin-bottom: 75px;} 
}
.box-type-5 {margin-bottom: 130px;
	& .image {width: 670px; height: 670px; position: relative; float: left; margin-left: -160px; margin-top: 110px; z-index: 5;}
	& .text-block-team {float: left; position: relative; width: 40%; margin-top: 220px; z-index: 6;}
	& .number {right: 70px; top: 0px; }
	& .square-box {left: 325px; top: 30px; z-index: 3;}
	& .box-text {padding: 0px 0px 0px 40px;}
}

.box-type-6 { padding-top: 210px; margin-bottom: 320px;
	& .number {right: -156px; top: 0px;}
	& .box-title {text-align: center; padding-bottom: 5px;}
}
.price-number {position: relative; width: 100%; display: inline-block; padding-bottom: 70px;
    & b {font-size: 595px; line-height: 475px;@extend .font-black; color: rgba(255,255,255,0.1); margin-left: -24px; position: relative; display: block;}
	& span {position: absolute; width: 115px; height: 115px; line-height: 115px; color: $col-white; font-size: 41px; @extend .font-black; background:rgba(255,255,255,0.1); bottom: 0px; right: -20px; text-align: center; text-transform: uppercase;
		& sub {font-size: 20px; line-height: 70px; position:relative; display: inline-block; vertical-align: top; margin-right: -15px;}
	}
}
.start-calc {position: absolute; background: #ff3838; cursor: pointer; @include transform(translate(-50%,-50%)); left: 50%; top: 50%; width: 280px; height: 280px; text-align: center; line-height: 280px; color: $col-white; font-size: 100px; border-radius: 50%;
	&:before {content: ''; position: absolute; top: 50%; left: -500%; width: 500%; height: 8px; margin-top: -4px; background: #ff3838;}
}
.price-sm-wrapp .column-50 {float: left; padding: 0px 0px 0px 70px;}
.price-sm-item {position: relative; width: 176px; height: 176px; @extend .box-grad; box-shadow: $box_shadow; color: $col-white; @extend .font-cond; padding: 40px 0px 0px 100px;
	& .title {position: relative;min-width: 360px;}
	& .title h6 {font-size: 18px; line-height: 20px; text-transform: uppercase; letter-spacing: 5px;}
	& .title b {display: block; font-size: 66px; line-height: 66px;}
}
.box-type-7 {text-align: center; padding: 140px 0px 80px; margin-bottom: 300px;
	& .number {left: 50%; top: 0px; @include transform(translateX(-50%));}
	& .box-title {z-index: 5; position: relative; padding-bottom: 0px;}
    & .box-subtitle {padding-bottom: 20px; z-index: 5; position: relative;}
	& .image {position: relative; width: 100%; min-width: 1646px; margin-left: -345px; display: block;
		& img {width: 100%; height: auto; position: relative; z-index: 1;}
	}
	& .column-50 {float: left; text-align: left; padding: 0px 40px;}
	& .text {position: relative; width: 100%; margin-top: -215px; padding: 0px 40px;}
	& .text .box-title {letter-spacing: 112px; margin-left: 55px; padding-bottom: 30px;}
	& .square-box {position: relative; margin: -110px auto 0px; display: block;}
	& .link {position: absolute; left: 50%; @include transform(translateX(-50%)); bottom: -25px; z-index: 5;}
	& .button-type-2.style-2 { 
	    &:after, &:before, & span:after, & span:before {background: #ff3838;}
		&:hover {color: #ff3838;}
	}
}
.point-laptop {width: 230px; height: 230px; background: #fe3838; position: absolute; right: 191px; top: -35px; border-radius: 50%;}

@media (max-width: 1290px) {
	.box-container {padding-top: 180px;}
	.main-container {padding-top: 80px;}
	.header.box-style {height: 80px;}
	.onepage-box.style-1 .header.box-style { background: #3f2b2b;}
	.onepage-box.style-2 .header.box-style { background: #0b0e24;}
	.box-nav {padding: 10px 0px;}
	.scroll-down.lg {display: none;}
	.box-type-1 {margin-bottom: 200px;}
	.box-type-1 .number {right: 0px;}
	.box-type-1 .text-block {margin-left: 0px;}
	.box-type-1 .image {left: auto; right: 0px; top: 33%;}
	.box-type-2 {margin-bottom: 200px;}
	.box-type-2 .number {left: 0px;}
	.box-type-2 .box-slider {right: 0px;}
	.box-type-2 .text-block {margin-left: 0px; padding: 100px 380px 95px 55px;}
	.box-type-3 {margin-bottom: 200px;}
	.box-type-3 .box-slider {left: 0px; width: 470px; height: 570px;}
	.box-type-3 .text-block {margin-left: 212px; padding: 100px 60px 116px 285px;}
	.box-type-3 .box-slider .shadow-imit {width: 470px; height: 500px;}
	.box-type-3 .link {left: 285px;}
	.box-type-4 {margin-bottom: 200px;}
	.box-type-4 .number {right: 10px;}
	.box-type-4 .text-block {min-width: 100%; margin-left: 0px;}
	.box-type-4 .text-block {padding: 0px 20px 0px 60px;}
	.box-type-4 .sm-box-wrap {width: 100%;}
	.box-type-5 .image {margin-left: 0px; width: 570px; height: 570px;}
	.box-type-5 .text-block-team {width: 35%;}
	.box-type-5 .number {right: 10px;}
	.box-type-6 {margin-bottom: 200px;}
	.box-type-6 .number {right: 10px;}
	.price-number span {right: 20px;}
	.box-type-7 {margin-bottom: 200px;}
	.box-type-7 .image {min-width: 100%; margin-left: 0px;}
	.box-type-7 .text {margin-top: -120px;}
	.point-laptop {width: 130px; height: 130px; right: 115px;}
}
@media (max-width: 992px) {
	.box-type-1 {padding-bottom: 0px; margin-bottom: 120px;}
	.box-type-1 .text-block {max-width: none; width: 100%; padding: 60px;}
	.box-type-1 .image {position: relative; width: 100%; top: 0px; height: 370px;}
	.square-box {display: none;}
	.box-item .text-block {z-index: 6;}
	.box-item .number {position: relative; text-align: center; display: block; margin: 0 auto 30px; font-size: 200px; line-height: 155px;}
	.box-item .box-slider {width: 100%; height: 470px; position: relative;}
	.box-item .box-slider .shadow-imit {width: 100%; height: 400px;}
	.box-type-2 .text-block {margin-top: 0px; padding: 60px 60px 120px;}
	.box-type-2 .link, .box-type-3 .link {left: 50%; @include transform(translateX(-50%));}
	.box-type-3 .text-block {margin: 0px;padding: 60px 60px 120px; min-width: 100%;}
	.box-type-4 {padding-top: 0px;}
	.box-type-4 .column-50:nth-child(1), .box-type-4 .column-50:nth-child(2) {margin-bottom: 35px;}
	.box-type-4 .box-title {margin-top: 20px;}
	.box-type-5 .image {margin-top: 0px; width: 100%; height: 370px;}
	.box-type-5 .image .bg {background-position: top center;}
	.box-type-5 .text-block-team {width: 100%; margin-top: 0px;}
	.box-title.lg {margin-left: 30px;}
	.box-type-6 {padding-top: 0px;}
	.box-type-2, .box-type-4, .box-type-3, .box-type-6 {margin-bottom: 130px;}
	.price-number b {font-size: 448px; line-height: 360px; margin-left: -13px;}
	.box-type-7 {padding: 0px;}
	.box-title.lg {font-size: 94px; line-height: 90px;}
	.box-type-5 .text-block-team {margin-top: 30px;}
	.start-calc {font-size: 75px; line-height: 180px; width: 180px; height: 180px;}
	.price-sm-item .title b {font-size: 50px; line-height: 60px;}
	.price-sm-wrapp .column-50 {padding: 0px 0px 0px 40px;}
	.price-sm-item {padding: 40px 0px 0px 30px;}
	.price-number span {width: 80px; height: 80px; line-height: 80px; font-size: 30px;}
	.box-type-7 .text .box-title {letter-spacing: 35px;margin-left: 35px;}
	.box-title.sm {letter-spacing: 35px; line-height: 88px; margin-left: 35px;}
	.box-type-7 .column-50 {padding: 0px 20px; z-index: 6;}
	.point-laptop {display: none;}
	.box-nav ul {padding: 40px 0px; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; overflow-y:auto; z-index: 50;}
	.onepage-box.style-1 .box-nav ul {background: #3f2b2b;}
	.onepage-box.style-2 .box-nav ul {background: #3f2b2b;}
	.box-nav li {display: block;}
} 
@media (max-width: 768px) {
	.box-container {padding-top: 80px;}
	.box-title.lg, .box-title.md, .box-title.sm {letter-spacing: 35px; font-size: 64px; line-height: 60px;}
	.box-item .number {font-size: 120px; line-height: 90px; letter-spacing: 3px;}
	.box-type-4 .column-50 {width: 100%; margin-bottom: 35px;}
	.box-type-4 .sm-box-text {min-height: 100%; }
	.box-type-4 .sm-box-wrap {margin-bottom: 0px;}
	.price-number b {text-align: center; margin: 0 auto;font-size: 260px; line-height: 190px;}
	.start-calc {width: 100px; height: 100px; line-height: 100px; font-size: 40px;}
	.box-type-7 .column-50 {width: 100%; padding: 0px 20px 30px;}
	.box-type-7 .square-box {margin: -50px auto;}
	.price-sm-wrapp .column-50 {width: 100%;}
	.price-sm-wrapp .column-50:first-child {padding-bottom: 30px;}
}
@media (max-width: 480px) {
	.price-number {padding-bottom: 50px;}
	.price-number b {font-size: 154px; line-height: 180px;}
	.price-number span {font-size: 20px; width: 60px; height: 60px; line-height: 60px; bottom: 24px;}
	.price-number span sub {line-height: 45px; font-size: 13px;}
	.price-sm-item .title {min-width: 100%;}
	.box-type-1 .image {height: 270px;}
	.box-type-1 .text-block {padding: 30px;}
	.box-type-1 .text-block .box-text {padding-bottom: 20px;}
	.box-item .box-slider {height: 400px;}
	.box-item .box-slider .shadow-imit {display: none;}
	.box-type-2 .text-block, .box-type-3 .text-block {padding: 30px 30px 80px;}
	.box-title.lg, .box-title.md, .box-title.sm {font-size: 40px; line-height: 40px; letter-spacing: 5px;}
	.box-type-4 .text-block, .box-type-5 .box-text, .price-sm-wrapp .column-50 {padding: 0px 20px 0px 30px;}
	.box-type-4 .text-block {width: 100%;}
	.box-type-4 .column-50 {padding-right: 0px;}
	.box-title.xs, .box-subtitle {font-size: 25px; line-height: 25px; letter-spacing: 5px;}
	.price-sm-item {width: 100%;}
	.box-title {font-size: 27px; line-height: 43px;}
	.box-title.sm {margin-left: 0px;}
	.box-type-7 .text {margin-top: 0px; display: inline-block; padding: 0px 30px 60px;}
	.box-type-7 .column-50 {padding: 0px 0px 30px;}
	.box-type-7 {margin-bottom: 130px;}
	.box-type-7 .text .box-title {letter-spacing: 5px; margin-left: 0px;}
	.box-type-7 .square-box {display: none;}
	.button-type-2.style-2 {letter-spacing: 3px;}
}







